/*
LINKS:
Typetura docs: https://docs.typetura.com/creating-with-typetura/creating-your-own-typographic-system
Cubic Bezier: https://cubic-bezier.com/
Fraunces: https://fraunces.undercase.xyz/
Google variable fonts: https://css-tricks.com/getting-the-most-out-of-variable-fonts-on-google-fonts/
Grid system: https://gist.github.com/scottkellum/bb46ea68c23e630842ee80c37513a3e6
*/

/* Import our variable font Fraunces */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght,SOFT,WONK@9..144,100..900,0..100,0..1&family=Fraunces:ital,opsz,wght,SOFT,WONK@1,9..144,100..900,0..100,0..1&display=swap");

/* Variables and page setup */

html {
    font-family: Futura;
    /* font-size: 115%; */
    line-height: 1.35;
    font-weight: 340;
    color: var(--text);
    background: var(--background);
    /* padding-bottom: 20vh; */

    /* Typetura  */
    --tt-key: html;
    --tt-max: 900;
    --tt-ease: cubic-bezier(0, 0.78, 0.53, 1);


    /* Grid */
    --max-width: 1200px;
    --columns: 6;
    --gutter: 1.5rem;

    /* Color */
    --primary: #ffd000;
    --background: #ffffff;
    --background-alt: #efeded;

    --text: #000000;
}

/* @keyframes html {
	0% {
		font-size: 0%;
	}

	100% {
		font-size: 125%;
	}
} */
* {
    --grid: minmax(var(--gutter), 1fr) repeat(var(--columns),
            minmax(0,
                calc((var(--max-width) - (var(--gutter) * (var(--columns) - 1))) / var(--columns)))) minmax(var(--gutter), 1fr);
}

/* Element styles */



/* Typography */

/* .masthead {
	color: var(--primary);
	mix-blend-mode: multiply;
	text-align: center;
	font-variation-settings: "WONK" 1, "SOFT" 30;
	--tt-key: masthead;
	--tt-max: 1200;
	--tt-ease: ease-in-out;
	margin: 0.5em 0 -0.5em;
}
@keyframes masthead {
	0% {
		font-size: 1rem;
		margin-bottom: -0.45em;
		font-weight: 600;
	}
	100% {
		font-size: 6.5rem;
		margin-bottom: -0.375em;
		font-weight: 500;
	}
} */

.primary-headline {
    --tt-key: primary-headline;
    --tt-ease: cubic-bezier(1, 0, 1, 1);
    --tt-max: 585;
    line-height: 1;
    font-variation-settings: "SOFT" 0, "WONK" 1;
    margin: 0.5rem 0;
}

@keyframes primary-headline {
    0% {
        font-size: 0.875rem;
        font-weight: 500;
    }

    100% {
        font-size: 0.875rem;
        font-weight: 300;
    }
}

.meta {
    font-style: italic;
    margin: 0.25rem 0;
    font-size: 0.85rem;
}

.entry-summary {
    margin: 0.25rem 0;
}

/* Layout */

.main {
    column-gap: var(--gutter);
    grid-template-columns: var(--grid);
    padding: var(--gutter);
}

.entry {
    margin-bottom: var(--gutter);
}

.entry,
.entry-content {
    display: flex;
    flex-direction: column;
}

.entry-img {
    aspect-ratio: 5 / 3;
    object-fit: cover;
}

.entry-date {
    order: -1;
}

/* Module overrides */

.entry-lede time {
    margin-bottom: 1rem;
}

.entry-lede time::after {
    content: "";
    display: block;
    width: calc(100% + (var(--gutter) * 2));
    height: 1px;
    margin-left: calc(var(--gutter) * -2);
    background: var(--primary);
    mix-blend-mode: multiply;
    margin-top: 0.67rem;
}

/* Breakpoints */

@media (min-width: 30em) {
    html {
        --columns: 12;
    }

    .main,
    .entry-lede {
        padding: 0;
        display: grid;
    }

    .entry,
    .trending {
        grid-column-start: 3;
        grid-column-end: span 10;
    }

    .entry-lede {
        column-gap: var(--gutter);
        grid-template-columns: var(--grid);
        grid-column-start: 1;
        grid-column-end: span 14;
        margin-bottom: 4rem;
    }

    .entry-lede>.entry-img {
        aspect-ratio: auto;
        grid-column-start: 1;
        grid-column-end: span 10;
    }

    .entry-lede .entry-content {
        grid-column-start: 3;
        grid-column-end: span 11;
        margin: -2.5rem calc(var(--gutter) * -1) 0;
        background: var(--background-alt);
        padding: 0.5rem var(--gutter) 1rem;
    }
}

@media (min-width: 50em) {
    html {
        --columns: 24;
    }

    .main::before,
    .main::after {
        content: "";
        display: block;
        grid-column-start: 8;
        grid-column-end: 26;
        grid-row-start: 2;
        grid-row-end: 3;
        background: var(--background-alt);
        background-color: var(--primary);
        margin: 0 calc(var(--gutter) * -1);
        z-index: -1;
    }

    .main::after {
        grid-column-start: 2;
        background-color: var(--primary);
        height: 1px;
        mix-blend-mode: multiply;
    }

    .entry {
        grid-column-end: span 9;
        margin-bottom: var(--gutter);
    }

    .entry:nth-child(n + 2) {
        margin-top: -2rem;
        grid-row-start: 2;
    }

    .entry:nth-child(2) {
        grid-column-start: 8;
    }

    .entry:nth-child(3) {
        grid-column-start: 17;
    }

    .entry-lede {
        column-gap: var(--gutter);
        grid-template-columns: var(--grid);
        grid-column-start: 1;
        grid-column-end: span 26;
        margin-bottom: 4rem;
    }

    .entry-lede>.entry-img {
        aspect-ratio: auto;
        grid-column-start: 1;
        grid-column-end: span 13;
    }

    .entry-lede .entry-content {
        grid-column-start: 14;
        grid-column-end: span 12;
        margin: 0.5rem 0;
        padding: 4rem 0 0;
        background: none;
    }
}



.banner {
    padding: 6em 0 8em 0;
    text-align: center;
    width: 100%;
    background-color: #dadada;
    /* background-image: url(http://illusion.scene360.com/wp-content/uploads/2015/01/wes-anderson-12.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .border1 {
    width: 60%;
    margin: 0 auto;
    height: 47px;
    border-top:    3px solid rgb(255, 255, 255);
    border-right:  3px solid rgb(255, 255, 255); 
    border-left: 3px solid rgb(255, 255, 255);
  
  }
  
  .bot1 {
   
    width: 60%;
    margin: 0 auto;
    height: 47px;
    border-bottom:    3px  solid rgb(255, 255, 255);
    border-right:  3px solid rgb(255, 255, 255); 
    border-left: 3px  solid rgb(255, 255, 255);
  
  
  }
  
  .banner h2 {
    margin: 0;
    font-size: 3em;
    color: #000000;
    text-align: center;
    font-weight: 300;
    /* text-transform: uppercase; */
    /* letter-spacing: 0.5em; */
    padding: 0.5em 0 0 0;
  }
  
  .banner p {
    color: #000000;
    font-size: 1em;
    /* font-weight: bold; */
    margin: 1em 0 0 0;
    line-height: 2em;
    /* letter-spacing: 2px; */
    padding: 0 0 2em 0;
  }
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* body{
    font-family:Roboto, sans-serif;
    background-color:#0D0D0D;
    color:#FFFFFF;
} */
h1{
    font-size:2.5rem;
}
h1,h2{
    text-align:center;
    font-weight:300;
    margin-top:0.3125rem;
}
hr{
    width:18.75rem;
    margin:0.9375rem auto;
    color: #ffd000;
    height: 3px;
    
}
#container{
    max-width:61.25rem;
    margin:1.25rem auto;
    /*border:2px solid #FFFFFF;*/
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    margin:1.25rem;
    padding:0.3125rem;
    /*border:2px solid #FFFFFF;*/
    margin-left: -45px;
    margin-right: -45px;
}
.card{
    flex:1 0 12.5rem;
    margin:0.625rem;
    /*border:2px solid #FFFFFF;*/
}
.card-image{
    display:block;
    height:21.875rem;
    background-size:cover;
    /* box-shadow:0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4); */
    transition:transform 500ms ease-in;
    filter:grayscale(100%);
    /*border:2px solid #FFFFFF;*/
}
.card-image:hover{
    transform:scale(1.05);
    filter:grayscale(0%);
}
.card-image.card-1{
    background-image:url(https://images.unsplash.com/photo-1661586762551-b595e65388ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1285&q=80);
}
.card-image.card-2{
    background-image:url(https://images.unsplash.com/photo-1668115118877-ca2946340036?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80);
}
.card-image.card-3{
    background-image:url(https://images.unsplash.com/photo-1564678164-f00ad53a38e6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}
.card-image.card-4{
    background-image:url(https://images.unsplash.com/photo-1658501656233-6e2c44834760?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80);
}
.card-image.card-5{
    background-image:url(https://images.unsplash.com/photo-1536266305399-b367feb671f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}
.card-image.card-6{
    background-image:url(https://images.unsplash.com/photo-1570299135572-3a10aa26de2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=463&q=80);
}
#share {
	width:100%;
	border:1px solid #eaeaea;
	/* margin: 10 auto; */
	background: none;
	text-align:center;
/* font-family: verdana; */
}
/* .like {
	font-size: 16px;
	font-weight: 700;
	line-height: 50px;
} */
.push {
	display: inline-block;
	width: 10.2%;
	min-width: 100px;
	line-height: 40px;
	margin: 5px 2px 20px 2px;
	font-size: 15px;
	text-align: center;
	color:#fff;
	cursor: pointer;
}
 
.facebook {background-color:#3b5998;}
.facebook:hover {background-color:#2d4373; color:#fff;}
.google {background-color:#dd4b39;}
.google:hover {background-color:#c23321; color:#fff;}
.twitter {background-color:#55acee;}
.twitter:hover {background-color:#2795e9; color:#fff;}
.vkontakte {background-color:#587ea3;}
.vkontakte:hover {background-color:#466482; color:#fff;}
.ok {background-color:#ee8208;}
.ok:hover {background-color:#ee7808; color:#fff;}


.hr-lines{
    position: relative;
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  
  .hr-lines:before{
    content:" ";
    height: 2px;
    width: 190px;
    background: #000000;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  .hr-lines:after{
    content:" ";
    height: 2px;
    width: 190px;
    background: #000000;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }
  
 
  
 