
* {
    --grid: minmax(var(--gutter), 1fr) repeat(var(--columns),
            minmax(0,
                calc((var(--max-width) - (var(--gutter) * (var(--columns) - 1))) / var(--columns)))) minmax(var(--gutter), 1fr);
}



.primary-headline {
    --tt-key: primary-headline;
    --tt-ease: cubic-bezier(1, 0, 1, 1);
    --tt-max: 585;
    line-height: 1;
    font-variation-settings: "SOFT" 0, "WONK" 1;
    margin: 0.5rem 0;
}




/* Layout */

.main {
    column-gap: var(--gutter);
    grid-template-columns: var(--grid);
    padding: var(--gutter);
}

.entry {
    margin-bottom: var(--gutter);
}

.entry,
.entry-content {
    display: flex;
    flex-direction: column;
}

.entry-img {
    aspect-ratio: 5 / 3;
    object-fit: cover;
}

.entry-date {
    order: -1;
}

/* Module overrides */

.entry-lede time {
    margin-bottom: 1rem;
}

.entry-lede time::after {
    content: "";
    display: block;
    width: calc(100% + (var(--gutter) * 2));
    height: 1px;
    margin-left: calc(var(--gutter) * -2);
    background: var(--primary);
    mix-blend-mode: multiply;
    margin-top: 0.67rem;
}

/* Breakpoints */

@media (min-width: 30em) {
    html {
        --columns: 12;
    }

    .main,
    .entry-lede {
        padding: 0;
        display: grid;
    }

    .entry,
    .trending {
        grid-column-start: 3;
        grid-column-end: span 10;
    }

    .entry-lede {
        column-gap: var(--gutter);
        grid-template-columns: var(--grid);
        grid-column-start: 1;
        grid-column-end: span 14;
        margin-bottom: 4rem;
    }

    .entry-lede>.entry-img {
        aspect-ratio: auto;
        grid-column-start: 1;
        grid-column-end: span 10;
    }

    .entry-lede .entry-content {
        grid-column-start: 3;
        grid-column-end: span 11;
        margin: -2.5rem calc(var(--gutter) * -1) 0;
        background: var(--background-alt);
        padding: 0.5rem var(--gutter) 1rem;
    }
}

@media (min-width: 50em) {
    html {
        --columns: 24;
    }

    .main::before,
    .main::after {
        content: "";
        display: block;
        grid-column-start: 8;
        grid-column-end: 26;
        grid-row-start: 2;
        grid-row-end: 3;
        background: var(--background-alt);
        background-color: var(--primary);
        margin: 0 calc(var(--gutter) * -1);
        z-index: -1;
    }

    .main::after {
        grid-column-start: 2;
        background-color: var(--primary);
        height: 1px;
        mix-blend-mode: multiply;
    }

    .entry {
        grid-column-end: span 9;
        margin-bottom: var(--gutter);
    }

    .entry:nth-child(n + 2) {
        margin-top: -2rem;
        grid-row-start: 2;
    }

    .entry:nth-child(2) {
        grid-column-start: 8;
    }

    .entry:nth-child(3) {
        grid-column-start: 17;
    }

    .entry-lede {
        column-gap: var(--gutter);
        grid-template-columns: var(--grid);
        grid-column-start: 1;
        grid-column-end: span 26;
        margin-bottom: 4rem;
    }

    .entry-lede>.entry-img {
        aspect-ratio: auto;
        grid-column-start: 1;
        grid-column-end: span 13;
    }

    .entry-lede .entry-content {
        grid-column-start: 14;
        grid-column-end: span 12;
        margin: 0.5rem 0;
        padding: 4rem 0 0;
        background: none;
    }
}



.banner {
    padding: 6em 0 8em 0;
    text-align: center;
    width: 100%;
    background-color: #dadada;
    /* background-image: url(http://illusion.scene360.com/wp-content/uploads/2015/01/wes-anderson-12.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  }
/*   
  .border1 {
    width: 60%;
    margin: 0 auto;
    height: 47px;
    border-top:    3px solid rgb(255, 255, 255);
    border-right:  3px solid rgb(255, 255, 255); 
    border-left: 3px solid rgb(255, 255, 255);
  
  }
   */
  .bot1 {
   
    width: 60%;
    margin: 0 auto;
    height: 47px;
    border-bottom:    3px  solid rgb(255, 255, 255);
    border-right:  3px solid rgb(255, 255, 255); 
    border-left: 3px  solid rgb(255, 255, 255);
  
  
  }
  
  .banner h2 {
    margin: 0;
    font-size: 3em;
    color: #000000;
    text-align: center;
    font-weight: 300;
    /* text-transform: uppercase; */
    /* letter-spacing: 0.5em; */
    padding: 0.5em 0 0 0;
  }
  
  .banner p {
    color: #000000;
    font-size: 1em;
    /* font-weight: bold; */
    margin: 1em 0 0 0;
    line-height: 2em;
    /* letter-spacing: 2px; */
    padding: 0 0 2em 0;
  }
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* body{
    font-family:Roboto, sans-serif;
    background-color:#0D0D0D;
    color:#FFFFFF;
} */

    

#container{
    max-width:61.25rem;
    margin:1.25rem auto;
    /*border:2px solid #FFFFFF;*/
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav1, section {
  display: block;
} */


.story__content { grid-area: sc;}
.story__image { grid-area: si;}
.story { 
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "si"
    "sc";
}

.story__image {
    min-height:300px;
  }

@media screen and (min-width: 900px) {
  .story { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 40px;
    
    grid-template-areas:
    "si sc";
  }  
}

@media screen and (min-width: 1300px) {
  .story { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    
    grid-template-areas:
    "si sc";
  }  
}

.story__title { grid-area: title; font-size: 2.2em; line-height: 0.95em; font-weight:400;}
@media screen and (min-width: 1020px) { 
  .story__title {  font-size: 3.2em; } 
}
.story__subtitle { grid-area: subtitle; text-transform: uppercase; font-weight: 100;}
.story__copy { grid-area: copy; line-height: 1.654321em; padding-bottom:40px;}

.story__content {
    display: grid;
    grid-template-columns: 20px 1fr 8fr 1fr 20px;
   grid-gap: 0px;

    grid-template-areas:
      ". title title . ."
      ". subtitle subtitle . . "bordershadow
      ". copy copy copy .";  
  }

@media screen and (min-width: 1020px) {
  .story__content {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 5fr 40px;
    grid-template-rows: 170px auto auto auto;
    grid-gap: 0px;

    grid-template-areas:
      ". . . . ."
      "title title title . ."
      ". subtitle subtitle subtitle . "
      ". . copy copy .";  
  }
}

.story__quote {
  font-size: 1.25em;
  line-height:1.1em;
  padding: 40px 20px;
  border-top: 6px solid #777;
  border-bottom: 6px solid #777;
  margin: 20px auto;
  max-width: 90%;
  
  }

@media screen and (min-width: 1020px) {
  .story__quote {
    font-size: 1.45em;
    line-height:1.1em;
    padding: 40px ;
    border-top: 6px solid #777;
    border-bottom: 6px solid #777;
    margin-left: -8px;
    max-width: 100%;
  }

}

.story__image {
  background-color: #215;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 50%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


h1,
h2,
h3,
h4,
h5,
h6 {}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}


ul {
    margin: 0;
    padding: 5px;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
    padding: 60px 0;
   /* min-height: 100vh;*/
}


.grid-header {
  align-self: flex-end;
  display: grid;
  grid-column: 1 / span 4;
  grid-template-columns: repeat(4, minmax(20%, 1fr));
  padding: 6px;}

  .grid-blurb {
    display: flex;
    flex-flow: row wrap;
    font-size: .8rem;
    padding: 12px;
  
    &:nth-of-type(3) {
      grid-column: 3 / span 2;
      grid-row: 2;
  
      p {
        &:nth-of-type(1) {
          &::first-letter {
            font-size: 3rem;
            margin-right: 4px;
          }
        }
      }
    }
  
    &:last-of-type {
      grid-column: 3 / span 2;
    }
  }
  
.process{ --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 0px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;}

    




















    


    * {
      box-sizing: border-box;
    }
    
    html {
      scroll-behavior: smooth;
    }
    

   
    
    blockquote {
      background-color: #f5f5f4;
      font-size: 1rem;
      font-weight: 500;
      margin: 1rem;
      line-height: 1.4;
      padding: 2rem;
      text-align: center;
      border-radius: 2.5rem;
    }
    
    section:not(".header-birds") {
      margin-bottom: 2rem;
    }
    
    section {
      scroll-margin-top: 140px;
    }
    
    article {
      box-sizing: border-box;
      padding: 0;
      margin: auto;
      position: relative;
      max-width: 90%;
    }
    
    .nav1-wrapper {
      position: sticky;
      top: 0;
      left: 0;
      height: auto;
      z-index: 1;
      background-color: #a0a0a0;
      padding: 1rem 0;
      margin: -60px 176px 2rem;
      
    }
    
    nav1 {
      margin: 0 auto;
      max-width: 90%;
    }
    
    .nav1_birds {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 0.5rem 1rem;
    }
    
    .nav1_birds__item {
      display: inline-block;
      text-decoration: none;
      padding: 0.5rem 1rem;
      background-color: #24191c;
      color: #fff;
      border-radius: 0.8rem 0.2rem;
    }
    
    .nav1_birds__item.active,
    .nav1_birds__item:hover,
    .nav1_birds__item:focus {
      color: #f9b9b4;
    }
    
    .header_birds {
      position: relative;
    }
    

    .header_birds__accent {
      text-transform: uppercase;
      font-size: 2.4rem;
      letter-spacing: 0.2rem;
    }
    
    .hero-image {
      max-width: 100%;
    }
    
    img[class^="editorial-image"] {
      max-width: 40%;
    }
    
    .editorial-image-left {
      float: left;
      margin: 0 1rem 1rem 0;
      border-radius: 1rem 6rem 1rem 6rem;
    }
    
    .editorial-image-right {
      float: right;
      margin: 0 0 1rem 1rem;
      border-radius: 6rem 1rem 6rem 1rem;
    }
    
    @media (min-width: 500px) {
      section {
        scroll-margin-top: 100px;
      }
    }
    
    @media (min-width: 700px) {
      .header_birds h1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 45%;
        margin-left: 0;
        left: calc(50% - 45%);
      }
      h1 {
        font-size: 3rem;
      }
    
      h2 {
        font-size: 2rem;
      }
    
      h3 {
        font-size: 1.6rem;
      }
      .header_birds__accent {
        font-size: 5rem;
      }
      .header_birds h1 {
        background-color: transparent;
        padding: 0;
      }
    }
    
    @media (min-width: 900px) {
      h1 {
        font-size: 3rem;
      }
    
      h2 {
        font-size: 2rem;
      }
    
      h3 {
        font-size: 1.6rem;
      }
      nav1,
      article {
        max-width: 900px;
      }
      .nav1_birds {
        justify-content: space-between;
      }
      section {
        scroll-margin-top: 4rem;
      }
    
      .header_birds h1 {
        left: calc(50% - 450px);
      }
    }
    
    @media (min-width: 1200px) {
      nav1,
      article {
        max-width: 1000px;
      }
    
      .header_birds h1 {
        left: calc(50% - 500px);
        max-width: 500px;
      }
    }
    
    @media (min-width: 1500px) {
      h1 {
        font-size: 4rem;
      }
      .header_birds__accent {
        font-size: 6rem;
      }
    }










    @charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,700i|Roboto:300");


*, *:before, *:after {
  box-sizing: inherit;
}


article {
  border-top: 35px solid #2589BD;
  width: 760px;
  max-width: 90vw;
  position: relative;
  top: 60px;
  padding: 24px;
  background-color: #fff;
 margin-bottom: 200px;

hr {
  opacity: 0.25;
}

h3 {
  color: #2589BD;
}

h1 {
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
  color: #8e8e8e;
}

img {
  max-width: 100%;
  transform: scale(1);
}

.det {
  margin: 8px 0;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  color: #8e8e8e;
}

h4 {
  margin: 0;
  margin-bottom: 6px;
  color: #2589BD;
}

.date {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #6f6f6f;
  margin: 0;
  margin-bottom: 24px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  text-shadow: 1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  box-shadow: inset 0 -2px 0 orange;
}

.entity.available {
  box-shadow: inset 0 -2px 0 #6f6f6f;
}
.entity.listed {
  box-shadow: inset 0 -2px 0 #007AFF;
}
.entity.linked {
  text-shadow: none;
  color: #fff;
  padding: 2px 3px;
  border-radius: 2px;
  box-shadow: inset 0 -24px 0 #2E92FF;
}
.entity.linked::after {
  content: "";
  font-family: FontAwesome;
  text-shadow: none;
  margin-left: 8px;
  margin-right: 6px;
  font-size: 12px;
  line-height: 10px;
}
.entity.not-linked {
  text-shadow: none;
  color: #fff;
  padding: 2px 3px;
  border-radius: 2px;
  box-shadow: inset 0 -24px 0 #2E92FF;
}
.entity.not-linked::after {
  content: "";
  font-family: FontAwesome;
  text-shadow: none;
  margin-left: 8px;
  margin-right: 6px;
  font-size: 12px;
  line-height: 10px;
  opacity: 0.5;
}




.footer-btn:hover {
  background-color: #ffffff;
}