body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  /* --font-roboto: Roboto; */

  /* font sizes */
  --font-size-15xl: 34px;
  --font-size-81xl: 100px;

  /* Colors */
  --color-darkgray-100: #999;
  --gray-1: #333;
  --color-steelblue: #157698;

  /* border radiuses */
  --br-5xl: 24px;
}

