.ralph-edwards {
  position: absolute;
  top: 25px;
  left: 24px;
  font-size: 40px;
  font-family: var(--font-quicksand);
  color: var(--color-burlywood-100);
}
.software-engineer {
  position: absolute;
  top: 78px;
  left: 25px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: #6a6b6d;
}
.six-years-of {
  position: absolute;
  height: 73.39%;
  width: 100%;
  top: 26.61%;
  left: 0;
  line-height: 140%;
  display: inline-block;
}
.about-me-child {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-bisque);
  width: 70px;
  height: 8px;
  opacity: 0.2;
}
.my-self {
  position: absolute;
  top: 0;
  left: 3.19%;
  font-size: var(--font-size-sm);
  font-family: var(--font-quicksand);
}
.about-me {
  position: absolute;
  height: 12.95%;
  width: 52.61%;
  top: 15.44%;
  right: 43.19%;
  bottom: 71.62%;
  left: 4.2%;
  font-size: var(--font-size-4xs);
}
.experience-child {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-bisque);
  width: 98px;
  height: 8px;
  opacity: 0.2;
}
.experience1,
.top-design-ink {
  position: absolute;
  top: 0;
  left: 2.74%;
  font-size: var(--font-size-sm);
  font-family: var(--font-quicksand);
}
.top-design-ink {
  left: 0;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-family: var(--font-inter);
}
.contract-software-engineer,
.sept-2013 {
  position: absolute;
  top: 8.55%;
  left: 0;
  line-height: 140%;
  opacity: 0.7;
}
.sept-2013 {
  height: 6.72%;
  width: 21.95%;
  left: 72.87%;
  display: inline-block;
}
.implemented-new-c,
.learned-how-to,
.successfully-generated-back-en {
  position: absolute;
  height: 14.47%;
  width: 97.56%;
  top: 18.89%;
  left: 2.44%;
  line-height: 140%;
  display: inline-block;
  opacity: 0.9;
}
.implemented-new-c,
.learned-how-to {
  top: 56.09%;
}
.learned-how-to {
  top: 74.7%;
}
.created-e-commerce-sites,
.sliced-designer-compositions {
  position: absolute;
  top: 93.3%;
  left: 2.44%;
  line-height: 140%;
  opacity: 0.9;
}
.sliced-designer-compositions {
  height: 14.47%;
  width: 97.56%;
  top: 37.49%;
  display: inline-block;
}
.ellipse-div,
.group-child,
.group-child1,
.group-inner,
.group-item {
  position: absolute;
  height: 1.55%;
  width: 0.91%;
  top: 59.19%;
  right: 99.09%;
  bottom: 39.26%;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  opacity: 0.9;
}
.ellipse-div,
.group-child1,
.group-inner,
.group-item {
  top: 77.8%;
  bottom: 20.65%;
}
.ellipse-div,
.group-child1,
.group-inner {
  top: 96.4%;
  bottom: 2.05%;
}
.ellipse-div,
.group-child1 {
  top: 40.59%;
  bottom: 57.86%;
}
.group-child1 {
  top: 21.99%;
  bottom: 76.46%;
}
.top-design-ink-lake-city-u-parent {
  position: absolute;
  height: 44.8%;
  width: 100%;
  top: 55.2%;
  right: 0;
  bottom: 0;
  left: 0;
}
.designed-and-implemented,
.structure-several-internal,
.successfully-installed-linux,
.suggested-a-new {
  position: absolute;
  height: 22.82%;
  width: 97.56%;
  top: 20.68%;
  left: 2.44%;
  line-height: 140%;
  display: inline-block;
  opacity: 0.9;
}
.designed-and-implemented,
.successfully-installed-linux,
.suggested-a-new {
  height: 15.21%;
  top: 45.67%;
}
.designed-and-implemented,
.suggested-a-new {
  top: 65.23%;
}
.suggested-a-new {
  top: 84.79%;
}
.senior-web-developer,
.sept-2016 {
  position: absolute;
  top: 9.27%;
  left: 0;
  line-height: 140%;
  opacity: 0.7;
}
.sept-2016 {
  left: 68.6%;
}
.group-child2,
.group-child3,
.group-child4,
.group-child5 {
  position: absolute;
  height: 1.63%;
  width: 0.91%;
  top: 23.94%;
  right: 99.09%;
  bottom: 74.43%;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslategray-200);
  opacity: 0.9;
}
.group-child3,
.group-child4,
.group-child5 {
  top: 68.49%;
  bottom: 29.88%;
}
.group-child4,
.group-child5 {
  top: 88.05%;
  bottom: 10.32%;
}
.group-child5 {
  top: 48.93%;
  bottom: 49.44%;
}
.structure-several-internal-sys-parent {
  position: absolute;
  height: 42.61%;
  width: 100%;
  top: 6.93%;
  right: 0;
  bottom: 50.46%;
  left: 0;
}
.experience {
  position: absolute;
  top: 275px;
  left: 25px;
  width: 328px;
  height: 432.97px;
  font-size: var(--font-size-4xs);
}
.ba-computer-science {
  position: absolute;
  top: 50.18%;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.education-child {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-bisque);
  width: 88px;
  height: 8px;
  opacity: 0.2;
}
.education1 {
  position: absolute;
  top: 0;
  left: 2.87%;
  font-size: var(--font-size-sm);
  font-family: var(--font-quicksand);
}
.honours-computer-science {
  position: absolute;
  top: 50.18%;
  left: 56.61%;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.boston-high-college,
.boston-univercity-june {
  position: absolute;
  top: 78.61%;
  left: 0;
  font-size: var(--font-size-4xs);
  line-height: 140%;
  font-family: var(--font-rubik);
  opacity: 0.7;
}
.boston-high-college {
  left: 56.61%;
}
.education {
  position: absolute;
  height: 7.22%;
  width: 58.49%;
  top: 87.89%;
  right: 37.31%;
  bottom: 4.9%;
  left: 4.2%;
  font-size: var(--font-size-2xs);
  font-family: var(--font-inter);
}
.awards1 {
  position: absolute;
  top: 0;
  left: 6.37%;
  font-size: var(--font-size-sm);
  font-family: var(--font-quicksand);
}
.outstanding-achievement-award {
  position: absolute;
  top: 30%;
  left: 0;
  font-weight: 500;
}
.claredon-smith {
  position: absolute;
  top: 47%;
  left: 0;
  font-size: var(--font-size-4xs);
  font-family: var(--font-rubik);
  opacity: 0.7;
}
.best-employee-of {
  position: absolute;
  top: 72%;
  left: 0;
  font-weight: 500;
}
.december-2009-didier {
  position: absolute;
  top: 89%;
  left: 0;
  font-size: var(--font-size-4xs);
  font-family: var(--font-rubik);
  opacity: 0.7;
}
.awards {
  position: absolute;
  top: 668px;
  left: 403px;
  width: 157px;
  height: 100px;
  font-family: var(--font-inter);
}
.skills-child {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-bisque);
  width: 54px;
  height: 8px;
  opacity: 0.2;
}
.skills1 {
  position: absolute;
  top: 0;
  left: 6.67%;
  font-size: var(--font-size-sm);
  font-family: var(--font-quicksand);
}
.problem-solving {
  position: absolute;
  top: 14.29%;
  left: 0;
  font-weight: 500;
}
.excellent-communication-skill,
.microsoft-office-suite {
  position: absolute;
  top: 74.89%;
  left: 0;
  font-weight: 500;
}
.microsoft-office-suite {
  top: 29.44%;
}
.problem-solving1,
.team-leadership,
.wpm-typist {
  position: absolute;
  top: 90.48%;
  left: 0;
  font-weight: 500;
}
.problem-solving1,
.team-leadership {
  top: 44.59%;
}
.team-leadership {
  top: 59.74%;
}
.skills-inner,
.skills-item {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--color-burlywood-100);
  width: 150px;
  height: 5px;
}
.skills-inner {
  top: 85px;
  background-color: var(--color-whitesmoke);
}
.rectangle-div,
.skills-child1,
.skills-child2 {
  position: absolute;
  top: 85px;
  left: 0;
  background-color: var(--color-burlywood-100);
  width: 71px;
  height: 5px;
}
.skills-child1,
.skills-child2 {
  top: 120px;
  background-color: var(--color-whitesmoke);
  width: 150px;
}
.skills-child2 {
  background-color: var(--color-burlywood-100);
  width: 124px;
}
.skills-child3,
.skills-child4,
.skills-child5 {
  position: absolute;
  top: 155px;
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 150px;
  height: 5px;
}
.skills-child4,
.skills-child5 {
  top: 191px;
}
.skills-child5 {
  top: 226px;
}
.skills-child6,
.skills-child7,
.skills-child8 {
  position: absolute;
  top: 155px;
  left: 0;
  background-color: var(--color-burlywood-100);
  width: 110px;
  height: 5px;
}
.skills-child7,
.skills-child8 {
  top: 191px;
  width: 130px;
}
.skills-child8 {
  top: 226px;
  width: 118px;
}
.skills {
  position: absolute;
  top: 256px;
  left: 403px;
  width: 150px;
  height: 231px;
  font-family: var(--font-inter);
}
.certification-child {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-bisque);
  width: 104px;
  height: 8px;
  opacity: 0.2;
}
.certification1 {
  position: absolute;
  top: 0;
  left: 7.04%;
  font-size: var(--font-size-sm);
  font-family: var(--font-quicksand);
}
.best-worker-of {
  position: absolute;
  top: 32.35%;
  left: 0;
  font-weight: 500;
}
.claredon-smith1 {
  position: absolute;
  top: 49.02%;
  left: 0;
  font-size: var(--font-size-4xs);
  opacity: 0.7;
}
.employee-of-the {
  position: absolute;
  top: 72.55%;
  left: 0;
  font-weight: 500;
}
.december-2009-didier1 {
  position: absolute;
  top: 89.22%;
  left: 0;
  font-size: var(--font-size-4xs);
  opacity: 0.7;
}
.certification {
  position: absolute;
  top: 524px;
  left: 403px;
  width: 142px;
  height: 102px;
  font-family: var(--font-inter);
}
.group-child6 {
  top: 10px;
  left: 0;
  background-color: var(--color-bisque);
  width: 74px;
  height: 8px;
  opacity: 0.2;
}
.contact,
.div,
.group-child6 {
  position: absolute;
}
.contact {
  top: 0;
  left: 6.41%;
  font-size: var(--font-size-sm);
  font-family: var(--font-quicksand);
}
.div {
  top: 6.25%;
  left: 26.09%;
  opacity: 0.8;
}
.group-icon,
.parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}
.parent {
  height: 10.96%;
  width: 58.97%;
  top: 50.68%;
  right: 41.03%;
  bottom: 38.36%;
}
.uptoworkcommycvjsmith {
  position: absolute;
  top: 6.25%;
  left: 15.38%;
  opacity: 0.8;
}
.uptoworkcommycvjsmith-parent {
  position: absolute;
  height: 10.96%;
  width: 100%;
  top: 89.04%;
  right: 0;
  bottom: 0;
  left: 0;
}
.andrewblackgmailcom {
  position: absolute;
  top: 6.25%;
  left: 17.14%;
  opacity: 0.8;
}
.andrewblackgmailcom-parent {
  position: absolute;
  height: 10.96%;
  width: 89.74%;
  top: 69.86%;
  right: 10.26%;
  bottom: 19.18%;
  left: 0;
}
.south-street-boston {
  position: absolute;
  width: 83.45%;
  top: 3.45%;
  left: 16.55%;
  line-height: 140%;
  display: inline-block;
  opacity: 0.8;
}
.south-street-boston-ma-02112-parent {
  position: absolute;
  height: 19.86%;
  width: 92.95%;
  top: 22.6%;
  right: 7.05%;
  bottom: 57.53%;
  left: 0;
}
.rectangle-parent {
  position: absolute;
  top: 72px;
  left: 403px;
  width: 156px;
  height: 146px;
}
.resume-software-developer {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 842px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-darkslategray-200);
  font-family: var(--font-rubik);
}
