.previews-resume-software-devel-child {
  position: absolute;
  top: -23px;
  left: -211px;
  background-color: #f9cb80;
  width: 1280px;
  height: 303px;
}
.previews-resume-software-devel-item {
  position: absolute;
  top: 374px;
  left: 763px;
  width: 507.13px;
  height: 639.96px;
  opacity: 0.3;
}
.previews-resume-software-devel-inner {
  position: absolute;
  top: 61px;
  left: 70px;
  background-color: #2e5d87;
  box-shadow: 22.81081199645996px 45.62162399291992px 91.24px 11.41px
    rgba(7, 28, 60, 0.06);
  width: 488px;
  height: 680px;
}
.ux-designer-resume-templates2 {
  position: absolute;
  top: 57px;
  left: 70px;
  width: 488.17px;
  height: 690.82px;
  object-fit: cover;
}
.resume-template-for-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 455.97px;
  height: 110px;
}
.figma-file {
  position: absolute;
  top: 433px;
  left: 80px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat-medium);
  color: #2c2d35;
}
.group-child10 {
  position: absolute;
  top: 417px;
  left: 0;
  width: 60px;
  height: 60px;
}
.easy-to-customize,
.ready-for-print {
  position: absolute;
  top: 43.48px;
  left: 24.15px;
  font-weight: 600;
  display: inline-block;
  width: 140.09px;
  height: 26.57px;
}
.easy-to-customize {
  top: 0;
  width: 166.66px;
}
.vector-icon,
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  position: absolute;
  height: 6.67%;
  width: 5.49%;
  top: 5.13%;
  right: 94.51%;
  bottom: 88.21%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  top: 32.82%;
  bottom: 60.51%;
}
.vector-icon2,
.vector-icon3 {
  top: 60.51%;
  bottom: 32.82%;
}
.vector-icon3 {
  top: 88.21%;
  bottom: 5.13%;
}
.a4-paper-size,
.free-fonts {
  position: absolute;
  top: 86.95px;
  left: 24.15px;
  font-weight: 600;
  display: inline-block;
  width: 94.2px;
  height: 26.57px;
}
.a4-paper-size {
  top: 130.43px;
  width: 123.99px;
}
.ready-for-print-parent {
  position: absolute;
  top: 177px;
  left: 0;
  width: 190.82px;
  height: 157px;
  font-size: 19.32px;
  color: var(--color-darkslateblue);
}
.resume-template-for-software-d-parent {
  position: absolute;
  top: 135px;
  left: 612px;
  width: 455.97px;
  height: 477px;
}
.previews-resume-software-devel {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 804px;
  overflow: hidden;
  text-align: left;
  font-size: 39.03px;
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
