.op:hover {
  background-color: rgb(255, 217, 2) !important;
  border-radius: 50px !important;
}

.op {
  font-family: 'Futura';
  width: 100px;
  text-align: center;
  /* font-weight: 600; */

}

#name {
  font-family: 'Futura';
  font-weight: 700;
  font-size: 30px;
}

#hom {
  margin-left: 150px;

}




.image {
  border-radius: 50%;
  transition: all 0.5s;
}

.image:hover {
  transform: scale(1.7);
}

.car {
  height: 600px;
}

#home {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  height: 555px;
  flex-direction: column;
}

/* #home::before{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        background: url(images/Book.jpg)no-repeat center center/cover;
        
        height: 600px;
        z-index: -1;
        
        width: 100%;
    } */

#home h1 {
  color: black;
  font-family: 'Futura';
  font-weight: 700;
  text-align: center;

}

#home p {
  color: black;
  text-align: center;
  font-family: 'Futura';
  font-size: 1rem;
}


.wt-bg {
  background-color: white;
  border-radius: 0px;
  color: black;
  padding: 50px;
}


#S1 h1 {
  padding-top: 30px;
  color: rgb(0, 0, 0);
  font-family: 'Futura';
  font-weight: 700;
  text-align: center;

}

#S1 p {
  color: black;
  text-align: center;
  font-family: 'Futura';
  font-size: 1rem;
}


.s1 {

  border-radius: 0px;
  padding: 50px;
  object-fit: cover;
  width: 100%;
  margin-top: 100px;
  opacity: 0.8;
}








#Skills1 h1 {
  padding-top: 30px;
  color: rgb(255, 255, 255);
  font-family: 'Futura';
  font-weight: 700;
  text-align: center;

}

#Skills p {
  color: black;
  text-align: center;
  font-family: 'Futura';
  font-size: 1rem;
}


.skills1 {
  background-color: #e7e7e7;
  /* background-size: 100px 100px; */
  position: relative;
  top: -4rem;
  border-radius: 0px;
  padding-left: 100px;
  padding-right: 100px;
  /* padding-top: 25px;
  padding-bottom: 25px; */
  object-fit: cover;
  width: 100%;
  height: 300px;
  /* opacity: 0.8; */

}


/* Utilities */
.mylink {
  color: rgb(0, 0, 0);
}

.mylink:hover {
  color: #0054a2;
}



.back-video {
  position: absolute;
  right: 0;
  z-index: -1;
}

.hero {
  width: 100%;
  height: 100vh;
}

@media (min-aspect-ratio:16/9) {
  .back-video {
    width: 100%;
    height: auto !important;
  }
}

@media (max-aspect-ratio:16/9) {
  .back-video {
    width: auto;
    height: 100% !important;
  }
}

.goup {
  background-color: none;
  border-radius: 14px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  opacity: 1;

}

.goup:hover {
  color: #1c74c4;
}

.button_half {
  position: relative;
  top: -18px;
  background-color: #ffd000;
  border-radius: 30px;
  border-color: #ffd000;
  border-width: 1px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: futura;

}

.button_half:hover {
  background-color: #ffffff;
  font-family: futura;
  color: black;
  border-color: #ffd000;
  border-width: 1px;
}


.pro_img {
  transition: all 0.5s;
  object-fit: fill;
}

.pro_img:hover {
  transform: scale(1.1);
}

/* Skills CSS */
.skills {
  width: 85%;
  margin: 50px auto;
}

.heading {
  text-align: center;
  background-color: #ffc107;
  padding: 10px 0px;
  border-radius: 12px;
}



.skill_ui {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  padding: 10px 10px 10px 10px;
  /* margin-left: 10px;
  margin-right: 10px; */
  position: relative;
  margin: -3rem 0 2rem 0rem;
  margin: 2rem 0rem;
  border-radius: 0px;
  border-bottom: 5px solid #ffd000;
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-top: 2px; */
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.57); */
  margin-top: 100px;
  box-sizing: border-box;
  margin-bottom: 100px;
  color: black;
}


.skills_li {
  width: 150px;
  text-align: center;
  border-radius: 25px;
  list-style: none;
  background-color: rgba(255, 255, 255);
  padding: 10px 10px;
  margin: 10px 10px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.25s;
  margin-top: 40px;


}

.skills_li.active {
  background-color: #ffd000;
  border-radius: 30px;
  padding: 10px 10px;


  border-width: 1px;
}

.product {
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 100px;
}

.product img {
  width: 100px;
  height: 90px;
  margin-bottom: 10px;
  object-fit: contain;
  margin-bottom: 60px;
  /* display: none; */
}

.lang {
  display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}


article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  /* width: 500px; */
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "futura";
  font-weight: 700;
  font-size: 1.4rem;

  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 54px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-family: futura;
  color: #000000;
}

article a:focus {
  outline: 1px dotted #1c74c4;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #1c74c4;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
  Generic layout (demo looks)
  **************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "futura";
  font-size: 1rem;

  min-height: 100vh;
}

.articles {
  display: grid;

  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }

  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }

  .article-body {
    padding-left: 0;
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}



.hr_style {
  width: 35%;
  height: 2px;
  background-color: #ffd000;
  margin-bottom: 6px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4px;
  border-width: 4px;
  border-color: #ffd000;
  opacity: 1;
  text-align: centre;
}


.hr_style1 {
  width: 100%;
  height: 2px;
  background-color: #ffd000;
  margin-bottom: 12px;
  /* margin-right: auto;
  margin-left: auto; */
  margin-top: 4px;
  border-width: 4px;
  border-color: #ffd000;
  opacity: 1;
  text-align: left;
}

.profile:hover {
  color: #007bffe1;
}



/* .sub-head {
  /* background-color: #ffffff;
  border: 10px solid #f0bc2c;
  border-radius: 5px; */
  /* position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 70px; */
  /* margin-top: 2rem; */
  
  /* border: #eeba2b; */
  /* padding-top: 60px;
  color: rgb(0, 0, 0);
  font-family: 'Futura';
  font-weight: 700;
  text-align: center;
  width: 100%;
  height: 300px; */


/* } */ 

/* .sub-head h1 {
  margin-left: 20px;
} */

/* .sub-head p {
  margin-left: 20px;
} */

/* .sub-head hr {
  color: #ffffff;
  height: 5px;
  border-width: 4px;
  border-color: #eeba2b;
  opacity: 1;
  margin-left: 20px;
} */

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.social-link {
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #000000;
  text-decoration: none;
  color: #ffffff;
}



.about {
  position: relative;
  width: 100%;
  margin: -45px 0 45px 0;
}

.about .col-lg-6 {
  padding: 0;
}

.about .section-header {
  margin-bottom: 30px;
}

.about .about-img {
  position: relative;
  height: 100%;
}

.about .about-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .about-content {
  padding: 0 60px;
}

.about .about-text p {
  font-size: 16px;
}

/* .about .skills {
  margin-bottom: 30px;
}

.about .skill-name {
  margin-top: 15px;
}

.about .skill-name p {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
}

.about .skill-name p:last-child {
  float: right;
}

.about .progress {
  height: 10px;
  border-radius: 10px;
  background: #dddddd;
} */

/* .about .progress .progress-bar {
  width: 0px;
  background: #EF233C;
  border-radius: 10px;
  transition: 2s;
} */
/* 
.about .about-text a.btn {
  margin-top: 15px;
} */

@media (max-width: 991.98px) {
  .about .about-content {
    padding: 15px 15px 0 15px;
  }
}


.section-header {
  position: relative;
  margin-bottom: 45px;
}

.section-header p {
  display: inline-block;
  margin: 0 60px;
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  /* letter-spacing: 1px; */
  /* text-transform: uppercase; */
  /* background: #ffffff; */
}

/* .section-header p::before {
  position: absolute;
  content: "";
  height: 3px;
  top: 11px;
  right: 0;
  left: -30px;
  background: #ffd000;
  /* z-index: -1; */
/* } */



.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .section-header h2 {
    font-size: 30px;
  }
}


.cover{
  /* background:no-repeat, linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://images.unsplash.com/photo-1506784693919-ef06d93c28d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat; */
padding-top: 130px;
  background-size: cover;
  min-height: 100vh;
}
.cover-content{
  border-top: 100px;
  min-height: 100vh;
}
.cover-content img{

  max-width: 200px;
  border:2px solid white;
}



@media screen and (max-width: 760px) {
  .cover-content h1{
      font-size: 36px;
      font-weight: bold;
      padding-top: 30px;
  }

  .cover-content h6{
      font-size: 15px;
  }
}


.team-area .social li.twitter a {
  background-color: #00b6f1;
}

.team-area .social li.pinterest a {
  background-color: #bd081c;
}

.team-area .social li.facebook a {
  background-color: #3b5998;
}

.team-area .social li.google-plus a {
  background-color: #df4a32;
}

.team-area .social li.vimeo a {
  background-color: #1ab7ea;
}

.team-area .social li.instagram a {
  background-color: #cd486b;
}







